.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 10%;
    background-color: #E3EEFC;
}

button {
    width: 10rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: none;
    color: #FFFFFF;
    font-size: 1.5rem;
    outline: none;
}

.confirm {
    background-color: #84DC00;
}

.confirm:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.delete {
    background-color: #EF1413;
}

.delete:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.edit {
    background-color: #F2B439;
}

.edit:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.restore {
    background-color: #3a3a83;
}

.restore:hover {
    cursor: pointer;
    filter: brightness(125%);
}