.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #235390;
    width: 100%;
    height: 18%;
}

h1 {
    font-size: 6rem;
    letter-spacing: 8px;
    color: #92E4FF;

    animation-name: moveInLeft;
    animation-duration: 3s;
}

h3 {
    font-size: 4rem;
    letter-spacing: 6px;
    color: #FFFFFF;


    animation-name: moveInRight;
    animation-duration: 3s;
}

@keyframes moveInLeft {

    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {

    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}