* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Courier Prime', monospace;
    font-size: 62.5%;
    color: #222326;
    text-rendering: optimizeLegibility;
}