.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 72%;
    background-image: linear-gradient(to bottom, rgb(181, 208, 243), #E3EEFC);
}

.inputDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 12%;
    background-color: rgb(181, 208, 243);
}

.inputDiv input {
    width: 65%;
    height: 60%;
    border: 1px solid grey;
    border-radius: 1.5rem;
    font-family: 'Courier Prime', monospace;
    font-size: 2.5rem;
    color: black;
    padding-left: 3rem;
    padding-top: 0.8rem;
    outline: none;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    margin-top: 3%;
    border: 1px solid grey;
    border-radius: 1rem;
}

.taskDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid grey;
}

.taskDiv div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
}

.taskDiv div:first-child p {
    font-size: 3rem;
    letter-spacing: 1.2px;
}

.taskDiv div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}

.taskDiv div:last-child button {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background-color: darkred;
}

.taskDiv div:last-child button:hover {
    cursor: pointer;
}

.editInput {
    width: 80%;
    height: 60%;
    border: 1px solid grey;
    border-radius: 1.5rem;
    font-family: 'Courier Prime', monospace;
    font-size: 2.3rem;
    color: black;
    padding-left: 2.3rem;
    padding-top: 0.8rem;
    outline: none;
}